{# HTML Header with styles #}
{% block html_head_container %}
	{% include 'html-header.twig' %}
{% endblock %}
{#  #}

{#  Header insertion #}
{% block header %}
	<div id="header" class="header">
		{% include 'header.twig' %}
	</div>
{% endblock %}</head>{#  #}{# Body #}<body class="{{body_class}}" data-template="base.twig">
{#  #}

{# Main Page Content #}
	<section id="content" role="main" class="content-wrapper"> {% if title %}
		<h1>{{title}}</h1>
	{% endif %}
	<div class="wrapper {{sidebar_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>

	{# Sidebar #}
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}
</section>
{#  #}


{# Footer #}
{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{#  #}

	{{ function('wp_footer') }}
{% endblock %}</body>{# Ending Script Tags #}</html>{# HTML BOTTOM #}{% block html_body_js_bottom %}{# UI KIT JS #}<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.13/dist/js/uikit.min.js"></script><script src="https://cdn.jsdelivr.net/npm/uikit@3.6.13/dist/js/uikit-icons.min.js"></script>{# Bootrap JS #}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>{% endblock html_body_js_bottom %}{#  #}
