{% if item.acf_fc_layout == 'hero_slider' %}
<div
  class="uk-position-relative uk-visible-toggle uk-light"
  tabindex="-1"
  uk-slider="autoplay:true; autoplay-interval: 8000;"
>
  <ul class="uk-slider-items uk-grid" style="">
    {% for item in item.hero_slider %}
    <li class="uk-width-1 slide slide" style="padding-left: 0px!important; max-height: 900px;">
      <div class="uk-panel uk-animation-fade" style="animation-delay: 100ms; max-height: 900px;">
        {# IF Image is present => render Image #} {% if item.background_image %}
        <img src="{{ item.background_image }}" alt="" style="height: fit-content;
    object-fit: cover;"/>
    <div class="uk-overlay-primary uk-position-cover hero-slider-overlay"></div>
        {# IF Video is present => render Video #} {% elseif
        item.background_video %}
        <video
          src="{{ item.background_video }}"
          autoplay
          controls
          automute
          uk-video
        ></video>
        {% endif %} {# Inner Slider Content #}
        <div
          class="uk-position-center {{ item.content_position }}  uk-panel uk-hero-slider"
        >
          <h1
            class="uk-animation-{{ item.heading_animation }}"
            style="animation-delay:{{ item.heading_animation_delay }}ms;"
          >
            {{ item.heading }}
          </h1>
          <p
            class="uk-animation-{{ item.paragraph_animation }}"
            style="animation-delay:{{
              item.paragraph_animation_delay
            }}ms;"
          >
            {{ item.paragraph | striptags }}
          </p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <a
    class="uk-position-center-left uk-position-small"
    href="#"
    uk-slidenav-previous
    uk-slider-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small"
    href="#"
    uk-slidenav-next
    uk-slider-item="next"
  ></a>
</div>
{% endif %}

<!-- Include Style for Module-->
<style>
  {{ source('/pages/page-builder/hero-slider/hero-slider.php') }}
</style>