<!-- 1 COLUMN -->
{% if item.acf_fc_layout == 'one_column' %}
<section class="uk-section">
  <div class="uk-container">
    <div class="uk-column-1">
        {{ item.column_1 }}
    </div>
  </div>
</section>
{% endif %}

<!-- 2 COLUMNS -->
{% if item.acf_fc_layout == 'two_columns' %}
<section class="uk-section">
  <div class="uk-container">
    <div class="uk-column-1-2">
        {{ item.column_2 }}
     </div>
  </div>
</section>
{% endif %}

<!-- 3 COLUMNS -->
{% if item.acf_fc_layout == 'three_columns' %}
<section class="uk-section">
  <div class="uk-container">
    <div class="uk-column-1-3">
        {{ item.column_3 }}
   </div>
  </div>
</section>
{% endif %}

<!-- 4 COLUMNS -->
{% if item.acf_fc_layout == 'four_columns' %}
<section class="uk-section">
  <div class="uk-container">
    <div class="uk-column-1-4">
        {{ item.column_4 }}
    </div>
  </div>
</section>
{% endif %}


<!-- Include Style for Module-->
<style>{{ source('/pages/page-builder/columns/columns.css') }}</style>
<script>{{ source('/pages/page-builder/columns/columns.js') }}</script>

